Source: cxserver
Section: web
Priority: optional
Maintainer: Kartik Mistry <kmistry@wikimedia.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://www.mediawiki.org/wiki/ContentTranslation
Vcs-Git: https://gerrit.wikimedia.org/r/mediawiki/services/cxserver/deploy

Package: cxserver
Architecture: amd64
Depends: adduser,
         logrotate,
         lsb-base (>= 3.0-6),
         nodejs (>= 4.6.0),
         ${misc:Depends},
         ${shlibs:Depends}
Enhances: mediawiki
Description: Content Translation service
 ContentTranslation is a tool that allows editors to translate pages from
 one language to another with the help of machine translation and other
 translation tools.
 .
 This package contains service for Content Translation.
