[Unit]
Description=Mediawiki Content Translation service
Documentation=https://www.mediawiki.org/wiki/ContentTranslation
Wants=local-fs.target network.target
After=local-fs.target network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=www-data
Group=www-data
Environment="NODE_PATH=/usr/lib/cxserver/node_modules"
Environment="APP_BASE_PATH=/usr/lib/cxserver/src"
WorkingDirectory=/usr/lib/cxserver
ExecStart=/usr/bin/nodejs /usr/lib/cxserver/src/server.js
KillMode=process
Restart=on-success
PrivateTmp=true
StandardOutput=syslog
